################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/C#/StratergyPattern/StratergyPattern/StratergyPattern/bin/Debug/netcoreapp3.1
/C#/StratergyPattern/StratergyPattern/.vs/StratergyPattern/v16/.suo
/C#/StratergyPattern/StratergyPattern/StratergyPattern/obj
/C#/Observer Pattern/ObserverPattern/.vs/ObserverPattern/v16/.suo
/C#/Observer Pattern/ObserverPattern/ObserverPattern/bin/Debug/netcoreapp3.1
/C#/Observer Pattern/ObserverPattern/ObserverPattern/obj/Debug/netcoreapp3.1
/C#/Observer Pattern/ObserverPattern/ObserverPattern/obj
/C#/StratergyPattern/StratergyPattern/.vs/StratergyPattern/DesignTimeBuild/.dtbcache.v2
